resources/IService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://soap" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://ws.apache.org/axis2/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://soap" xmlns:ax22="http://ws.apache.org/axis2/xsd">
            <xs:import namespace="http://ws.apache.org/axis2/xsd"/>
            <xs:element name="updateItem">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax22:Item"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getItems">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getItemsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Item"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteItem">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addItem">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax22:Item"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2/xsd">
            <xs:complexType name="Item">
                <xs:sequence>
                    <xs:element minOccurs="0" name="author" nillable="true" type="ax21:Author"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="chapters" nillable="true" type="ax21:Chapter"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="yearOfPublication" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Author">
                <xs:sequence>
                    <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="secondName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Chapter">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="text" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="deleteItemRequest">
    <wsdl:part name="parameters" element="ns:deleteItem">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItemsResponse">
    <wsdl:part name="parameters" element="ns:getItemsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addItemRequest">
    <wsdl:part name="parameters" element="ns:addItem">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItemsRequest">
    <wsdl:part name="parameters" element="ns:getItems">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateItemRequest">
    <wsdl:part name="parameters" element="ns:updateItem">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IServicePortType">
    <wsdl:operation name="getItems">
      <wsdl:input message="ns:getItemsRequest" wsaw:Action="urn:getItems">
    </wsdl:input>
      <wsdl:output message="ns:getItemsResponse" wsaw:Action="urn:getItemsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addItem">
      <wsdl:input message="ns:addItemRequest" wsaw:Action="urn:addItem">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="deleteItem">
      <wsdl:input message="ns:deleteItemRequest" wsaw:Action="urn:deleteItem">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateItem">
      <wsdl:input message="ns:updateItemRequest" wsaw:Action="urn:updateItem">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IServiceSoap12Binding" type="ns:IServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getItems">
      <soap12:operation soapAction="urn:getItems" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addItem">
      <soap12:operation soapAction="urn:addItem" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="deleteItem">
      <soap12:operation soapAction="urn:deleteItem" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateItem">
      <soap12:operation soapAction="urn:updateItem" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IServiceSoap11Binding" type="ns:IServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getItems">
      <soap:operation soapAction="urn:getItems" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addItem">
      <soap:operation soapAction="urn:addItem" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="deleteItem">
      <soap:operation soapAction="urn:deleteItem" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateItem">
      <soap:operation soapAction="urn:updateItem" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IServiceHttpBinding" type="ns:IServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="getItems">
      <http:operation location="getItems"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addItem">
      <http:operation location="addItem"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="deleteItem">
      <http:operation location="deleteItem"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateItem">
      <http:operation location="updateItem"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IService">
    <wsdl:port name="IServiceHttpEndpoint" binding="ns:IServiceHttpBinding">
      <http:address location="http://localhost:8080//services/IService"/>
    </wsdl:port>
    <wsdl:port name="IServiceHttpSoap12Endpoint" binding="ns:IServiceSoap12Binding">
      <soap12:address location="http://localhost:8080//services/IService"/>
    </wsdl:port>
    <wsdl:port name="IServiceHttpSoap11Endpoint" binding="ns:IServiceSoap11Binding">
      <soap:address location="http://localhost:8080//services/IService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
